.NavigationListItem {
  margin-right: 2px;
  padding: 4px;
  border-left: 1px solid grey;
}

.NavigationListItem a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.NavigationListItem a:hover {
  color: grey;
  transition: .1s all ease-in;
}
